.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


#sideNav * {
  background-color: #50727B;
  color: whitesmoke;
}

#navLink:hover {
  background-color: whitesmoke;
  color: black;
}

body {
  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings:    "wdth" 87.5;
  background-color: whitesmoke;
}

p {
  color: black;
}

#loginForm {
  background-color: #50727B;
}

#loginForm label {
  color: whitesmoke;
}

#signUpModal * {
  background-color: #50727B;
  color: whitesmoke;
}

#signupModal input {
  background-color: whitesmoke !important;
  color: whitesmoke !important;
}
.navlink {
  color: whitesmoke;
}

.collapse.show {
  visibility: visible;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.scrollablediv {
  width: 200px;
      height: 200px;
      overflow: scroll;
      border: 1px solid #ccc;
      padding: 10px;
      border: none;
}
/* Responsive layout - when the screen is less than 768px wide, make the sidebar and the main content area stack on top of each other */

